.cantact_info{

    background-image: url(https://www.cuerpomente.com/medio/2020/01/23/vasito-panacotta-coco_043a6bf9_1200x1200.jpg);
    background-size: cover;
    background-position: center center;
}

